[req]
default_bits       = 2048
prompt             = no
default_md         = sha256
x509_extensions    = v3_req
distinguished_name = dn

[dn]
C = TW
ST = Taiwan
L = Taipei
O = organization
CN = domain

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = ai.local
IP.1  = 127.0.0.1
IP.2  = 192.168.15.205
IP.3  = 192.168.5.210
